{% load static %}
<div class="container-fluid bg-dark container11">
  <div class="container-fluid container1">
    <div class="row">
      <h1 class="title" id="about">ABOUT US</h1>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6  order-1 order-md-0">
        <div class="about1">
          <div>
              <p>We are The Everyday Sneaker Shoe,
                we have been producing and selling our
                shoes here in Ikeja since 2005.
              </p>
              <p>We believe in only using the best material,
                 manufacturing them in Vietnam and vend our 
                 products to our customers at a fair price.
              </p>
              <p>We started this business because we were 
                 all tired of wearing low quality, overpriced
                 footwears and my team believed that
                 there had to be a better way. </p>
              <p>We are looking foward to opening up two more
                 branches in Ikeja and partnering with Nike on a 
                 new line of international manufactured products.
              </p>
              <p>I would personally invite you to stop by and 
                 try them on for yourself.
              </p>
          </div>
      </div>

      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6  order-0 order-md-1">
        <div class="about2">
          <div class="aboutimg">
              <img src="{% static '' %}img/nike-5126389__340.webp"  alt="">
          </div>
      </div>

      </div>
    </div>
  </div>