 {% load static %}
 <div class="container-fluid bg-dark">
    <div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner" style="height: 60vh;">
          <div class="carousel-item  active" data-bs-interval="10000">
            <img src="{% static '' %}img/shoe1.avif" class="d-block w-100 h-100" alt="...">
            <div class="carousel-caption  d-md-block">
              <h5>Everyday Snikers</h5>
              <p>Your comfort is our priority</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="{% static '' %}img/shoe2.avif" class="d-block w-100 h-100" alt="...">
            <div class="carousel-caption  d-md-block">
              <h5>Everyday Snikers</h5>
              <p>Your best quality snikers</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static '' %}img/shoe3.avif" class="d-block w-100 h-100" alt="...">
            <div class="carousel-caption  d-md-block">
              <h5>Everyday Sneakers</h5>
              <p>Try our sneakers and you won't regret</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
          <span class="visually-hidden">Previous</span>
          <i class="fas fa-chevron-left"></i>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
          <span class="visually-hidden">Next</span>
          <i class="fas fa-chevron-right"></i>
        </button>
      </div>
 </div>