<div class="cap">
    <div class="contact">
      <div class="contacts">
        <div class="cont">
            <h1 id="contact">contact us</h1>
        </div>
        <div class="contact-form">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 order-1 order-md-0">
              <div class="caddress">
                <div class="cadd">
                    <p>Address: <span>28, Yunisa Adeneji Street,</span></p>
                    <p>Ikeja, Lagos</p>
                    <p>Phone: 07012324567</p>
                    <p>Email: <span>admin@everydaysneakers.com</span></p>
                    <p>Website: www.everydaysneakers.com</p>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6-col-xl-6 order-0 order-md-1">
              <div class="cform">
                <div class="ccform">
                    <form action="{% url 'contact' %}" method="POST">
                      {% csrf_token %}
                        <div>
                            <input type="text" name="full_name" placeholder="Full Name">
                        </div>
                        <div>
                            <input type="text" name="phone" placeholder="Phone Number">
                        </div>
                        <div>
                            <input type="email" name="email" placeholder="Email Address">
                        </div>
                        <div>
                            <textarea placeholder="Your Message..." name="message"  cols="30" rows="5"></textarea>
                        </div>
                        <input type="submit" value="Submit" class="csubmit">
                    </form>
                </div>
              </div>
            </div>
          </div>
            
           
        </div>
      </div>
      <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d253692.
          03154590918!2d3.223095205606578!3d6.529516006101813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.
          1!3m3!1m2!1s0x103b9228fa2a3999%3A0xd7a8324bddbba1f0!2sIkeja!5e0!3m2!1sen!2sng!4v1650366582160!5m2!1sen!2sng"
           style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></iframe>
      </div>
  </div>