<div class="container">
    <div class="row">
        <div class="col-10">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Delivery address
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                      <div class="accordion-body">
                          <div class="container">
                              <div class="row">
                                  <div class="col-10">
                                      <h4 class="check-title mb-3">delivery address</h4>
                                      <div class="form-box px-lg-5 mb-3">
                                          <form>
                                              <div class="mb-3">
                                                    <div class="mb-3">
                                                        <label for="exampleInputPassword1" class="form-label">first name</label>
                                                        <input type="text" class="form-control" id="exampleInputPassword1">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="exampleInputPassword1" class="form-label">last name</label>
                                                        <input type="text" class="form-control" id="exampleInputPassword1">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                                        <div id="emailHelp" class="form-text"></div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="exampleInputPassword1" class="form-label">Phone</label>
                                                        <input type="text" class="form-control" id="exampleInputPassword1">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="exampleInputPassword1" class="form-label">address</label>
                                                        <input type="text" class="form-control" id="exampleInputPassword1">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="exampleInputPassword1" class="form-label">state</label>
                                                        <input type="text" class="form-control" id="exampleInputPassword1">
                                                    </div>
                                                    <button type="submit" class="btn order">Place order</button>
                                              </div>    
                                          </form>
                                      </div>     
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>