<div class="foota bg-dark">
    <div class="container text-center text-light text-capitalize">
      <div class="row foota justify-content-center foota1 pt-5 pb-4">
        <div class="col-9 col-sm-6 col-md-6 col-lg-3 col-xl-3">
          <h1 class="mt-3 mb-4">E.D.S</h1>
          <h3  class="mt-3 mb-2">high quality classys</h3>
          <h4>shoes that suit you...</h4>
        </div>
        <div class="col-9 col-sm-6 col-md-6 col-lg-3 col-xl-3">
          <h2  class="mt-4 mb-4">call us</h2>
          <h4  class="mt-3 mb-2"><span><i class="fas fa-mobile-android-alt"></i></span> 0804-678-3241</h4>
          <h4><span><i class="fas fa-phone-square-alt"></i></span>+234-01-4321567</h4>
        </div>
        <div class="col-9 col-sm-6 col-md-6 col-lg-3 col-xl-3">
          <h2  class="mt-4 mb-4">useful links</h2>
          <ul class="list-unstyled">
            <li class="mb-1"><a href="#">home</a></li>
            <li class="mb-1"><a href="#">brand</a></li>
            <li class="mb-1"><a href="#">about</a></li>
            <li class="mb-1"><a href="#">contact</a></li>
            <li class="mb-1"><a href="#">team</a></li>
          </ul>

        </div>
        <div class="col-9 col-sm-6 col-md-6 col-lg-3 col-xl-3">
          <h3 class="mt-4 mb-4">social media handles</h3>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#"><i class="fa-brands fa-instagram-square"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
          </ul>
        </div>
        <div class="foota2 pt-5 pb-5 border-top">
          <h4 class="mb-2 text-warning">Copyright 2022 &copy; | all rights reserved.</h4>
          <h5><a href="#">crafted by: Iwufrank</a></h5>
        </div>
      </div>
    </div>
  </div>