{% extends 'base.html' %}

{% block title %} | {{profile.first_name|title}}'s Password Change {% endblock title %}

 <!-- header -->
 {% block header %} {% include "header.html" %} {% endblock header %}

 <!-- header done -->

  <!-- carousel -->
 {% block carousel %} {% include "carousel.html" %}{% endblock carousel %}
 <!-- carousel done -->


 {% block content %}
   
<!-- content -->
<div class="container mt-5 mb-5">
    <h1 class="cap text-center mt-5 mb-5">Password update</h1>
    <div class="row justify-content-center justify-content-md-around justify-content-lg-center text-center gy-5 pt-5 pb-5">
        <div class="col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4">
            <div class="card border-0 bg-transparent">
                <img src="img/jef.jpg"  class="card-img-top rounded-circle w-75 mx-auto team-img">
                <div class="card-body">
                  <h5 class="card-title text-truncate">NAME: {{profile.first_name|title}}</h5>
                  <p class="card-text">JEFF</p>
                </div>
              </div>
        </div>
        <div class="col-10 col-sm-10 col-md-5 col-lg-5 col-xl-5">
            <div class=" profile-form px-lg-3 text-start">
                <form action="{% url 'password' %}" method="POST">
                {% csrf_token %} 
                    <div class="form-group">
                        {{form.as_p}}
                    </div>   
                 
                  <button type="submit" class="btn btn-danger mt-4">Update password</button>
                  <!-- <a href="/callback.html" type="submit" class="btn order w-50">place order</a> -->
                </form>
              </div>
        </div>
        
        <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3 d-none d-md-block">
            <ul class="list-unstyled callback">
                <li class="mb-3"><a href="{% url 'index' %}" class="btn w-75">home</a></li>
                <li class="mb-3"><a href="{% url 'products' %}" class="btn w-75">brands</a></li>
                <li class="mb-3"><a href="{% url 'profile' %}" class="btn w-75">profile</a></li>
                <li class="mb-3"><a href="{% url 'profile_update' %}" class="btn w-75">update profile</a></li>
                <li class="mb-3"><a href="{% url 'password' %}" class="btn w-75">update password</a></li>
            </ul>
        </div>
    </div>
</div>



 {% endblock content %}



  <!-- footer -->
  {% block footer %} {% include "footer.html" %} {% endblock footer %}
  <!-- footer done -->