{% load static %}
<!-- <div class="container"> -->
    <div class="cap1">
        <div class="team pb-5 ps-5" id="team">
          <h1>my team</h1>
        </div>
        <div class="container">
          <div class="row justify-content-center gy-5 ps-5 text-dark text-center">
            <!-- box 1 -->
            <div class="col-10 col-sm-10 col-md-4 order-sm-2 order-md-0 order-lg-0">
              <div class="card border-0 bg-transparent">
                <img src="{% static '' %}img/jef.jpg" class="card-img-top rounded-circle w-75 mx-auto team-img">
                <div class="card-body">
                  <h5 class="card-title text-truncate">NAME:JEFF</h5>
                </div>
              </div>
            </div>
            <!-- box 1 end -->
            <!-- box 2 -->
            <div class="col-10 col-sm-10 col-md-4 order-3">
              <div class="card border-0 bg-transparent">
                <img src="{% static '' %}img/frank.jpg" class="card-img-top rounded-circle w-75 mx-auto team-img">
                <div class="card-body">
                  <h5 class="card-title text-truncate">NAME:FRANK</h5>
                </div>
              </div>
            </div>
              <!-- box 2 end -->
              <!-- box 3 -->
            <div class="col-10 col-sm-10 col-md-4 order-1">
              <div class="card border-0 bg-transparent">
                <img src="{% static '' %}img/matthew.jpg" class="card-img-top rounded-circle w-75 mx-auto team-img">
                <div class="card-body">
                  <h5 class="card-title text-truncate">NAME:MATTHEW</h5>
                </div>
              </div>
            </div>
            <!-- box 3 end -->
          </div>
        </div>
      </div>
        
      <!-- </div>